.header {
	background-color:#19ad08;
	height:50px;
	width:auto;
	border-radius:5px;
	z-index:1;
	position:fixed;
}

#left {
	background-color:#4286f4;
	height:500px;
	width:50px;
	border-radius:5px;
	z-index:2;
	float:left;
}

#right {
	background-color:#4286f4;
	height:500px;
	width:50px;
	border-radius:5px;
	z-index:2;
	float:right;
}

.footer {
	background-color:#19ad08;
	height:50px;
	width:auto;
	border-radius:5px;
	z-index:3;
}
