.header {
	background-color:black;
	color:white;
}
	
.footer {
	background-color:black;
	color:white;
}

#left {
	background-color:#4286f4;
	height:2000px;
	width:50px;
	float:left;
}

#right {
	background-color:#4286f4;
	height:2000px;
	width:50px;
	border-radius:5px;
	float:right;
}
