img {
	width:100px;
	height:100px;
}

table, td {
	border: 1px #3c870d solid;
}

div {
    	height:50px;
    	width:120px;
    	background-color:#BCD2EE;
    	border-radius:5px;
	margin:auto;
	text-align:center;
}

a {
    text-decoration:none;
    color:black;
}

span {
    color:green
